<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML</h1>
    <h2>Formularios y menú</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/FormulariosyMenu/Login-SingIn-1/dist/index.html'">Formulario Login/SingIn N°1</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/FormulariosyMenu/Login-SingIn-2/dist/index.html'">Formulario Login/SingIn N°2</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/FormulariosyMenu/Menu-Bar-Animado/index.html'">Menu animado</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/FormulariosyMenu/menu-hamburguesa/index.html'">Menu hamburguesa</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/FormulariosyMenu/input-1/index.html'">Input N°1</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/FormulariosyMenu/input-2/index.html'">Input N°2</div>
    </section>
</body>
</html>