<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML</h1>
    <h2>Tarjetas animadas</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/TarjetasAnimadas/NeonAnimado/index.html'">Tarjetas neón animado</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/TarjetasAnimadas/movie-card/index.html'">Películas</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/TarjetasAnimadas/mini-libros/index.html'">Mini libros</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/TarjetasAnimadas/card-hover/index.html'">Tarjetas imagenes</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/TarjetasAnimadas/galeria/index.html'">Galeria</div>

    </section>
</body>
</html>