<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <div class="orden-boton-titulo">
        <div class="boton-menu-principal" onclick="window.location.href='../../index.html'">Volver menú principal</div>
        <div class="titulo">Demo mini-proyectos CSS/HTML</h1>
    </div>
    <h2>Formularios y menú</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../../mini-projects/FormulariosyMenu/Login-SingIn-1/index.html'">Formulario Login/SingIn N°1</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/FormulariosyMenu/Login-SingIn-2/index.html'">Formulario Login/SingIn N°2</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/FormulariosyMenu/Menu-Bar-Animado/index.html'">Menu animado</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/FormulariosyMenu/menu-hamburguesa/index.html'">Menu hamburguesa</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/FormulariosyMenu/input-1/index.html'">Input N°1</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/FormulariosyMenu/input-2/index.html'">Input N°2</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/FormulariosyMenu/footer/index.html'">Footer</div>
        

        <div class="pagination">
            <li><a class="active" href="formularios-menu.html">1</a></li>

            <!-- <li><a href="__botones-2.html">2</a></li> -->    
            <!-- <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>  -->
            <li><a href="">»</a></li>
        </div>
    </section>
</body>
</html>