<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <div class="orden-boton-titulo">
        <div class="boton-menu-principal" onclick="window.location.href='../../index.html'">Volver menú principal</div>
        <div class="titulo">Demo mini-proyectos CSS/HTML</h1>
    </div>
    <h2>Tarjetas animadas</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/NeonAnimado/index.html'">Tarjetas neón animado</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/movie-card/index.html'">Películas N°1</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/movie-card-2/index.html'">Películas N°2</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/mini-libros/index.html'">Mini libros</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/card-hover/index.html'">Tarjetas imagenes N°1</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/galeria/index.html'">Galeria</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/TarjetasAnimadas/card-hover-3d/index.html'">Hover 3D</div>

    </section>
</body>
</html>