<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>

<body>
    <div class="orden-boton-titulo">
        <div class="boton-menu-principal" onclick="window.location.href='../../index.html'">Volver menú principal</div>
        <div class="titulo">Demo mini-proyectos CSS/HTML</h1>
    </div>
    <h2>Animaciones</h2>
        <section class="flex-container">
            <div class="caja c1" onclick="window.location.href='../mini-projects/Animaciones/Menu-radial/index.html'">Menu Radial</div>
            <div class="caja c2" onclick="window.location.href='../mini-projects/Animaciones/Texto-animado/index.html'">Texto animado</div>
            <div class="caja c3" onclick="window.location.href='../mini-projects/Animaciones/senal-corazon-latiendo/index.html'">Señal corazón latiendo</div>
            <div class="caja c4" onclick="window.location.href='../mini-projects/Animaciones/Imagenes-rotacion/index.html'">Imagenes que rotan (hover)</div>
            <div class="caja c1" onclick="window.location.href='../mini-projects/Animaciones/Abrir-sobre/index.html'">Abrir sobre</div>
            <div class="caja c2" onclick="window.location.href='../mini-projects/Animaciones/Transicion-texto/index.html'">Transición texto</div>
            <div class="caja c3" onclick="window.location.href= '../mini-projects/Animaciones/Botella-flotante/index.html'">Botella Flotante</div>
            <div class="caja c4" onclick="window.location.href='../mini-projects/Animaciones/Animacion-clima/index.html'">Clima animado</div>
            <div class="caja c1" onclick="window.location.href='../mini-projects/Animaciones/bienvenido/index.html'">Bienvenido</div>
            <div class="caja c2" onclick="window.location.href='../mini-projects/Animaciones/city-nigth-day/index.html'">Ciudad de dia y noche</div>


            <div class="pagination">
                <li><a>«</a></li>
                <!-- <li><a href="#">«</a></li> -->
                <li><a class="active" href="animaciones.html">1</a></li>
                <!-- <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li> -->
                <li><a>»</a></li>
                <!-- <li><a href="#">»</a></li> -->
            </div>
        </section>
</body>

</html>