<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <div class="orden-boton-titulo">
        <div class="boton-menu-principal" onclick="window.location.href='../../index.html'">Volver menú principal</div>
        <div class="titulo">Demo mini-proyectos CSS/HTML</h1>
    </div>
    <h2>Botones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/input-over/index.html'">Input sobre campo</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/alarma/index.html'">Alarma</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/telefono/index.html'">Telefono</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/diente/index.html'">Dientes</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/neuromorphic/index.html'">Neuromorphic</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/color-hover/index.html'">Hover multicolor</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/luz-oscuro/index.html'">Luz/oscuridad</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/menu-acordeon/index.html'">Menu acordeón</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/boton-hamburguesa/index.html'">Hamburguesa</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/dropdown/index.html'">Dropdown</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/botones-varios/index.html'">Botones varios</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/madera/index.html'">Madera</div>



        <div class="pagination">
            <li><a href="&botones-2.html">«</a></li>
            <li><a href="botones.html">1</a></li>
            <li><a href="&botones-2.html">2</a></li>
            <li><a class="active" href="&botones-3.html">3</a></li>
            <!-- <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>  -->
            <!-- <li><a>»</a></li> -->
            <!-- <li><a href="#">»</a></li> -->
        </div>
    </section>
</body>
</html>