<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css-funny</title>
</head>
<body>
    <div class="orden-boton-titulo">
        <div class="boton-menu-principal" onclick="window.location.href='../../index.html'">Volver menú principal</div>
        <div class="titulo">Demo mini-proyectos CSS/HTML</h1>
    </div>
    <h2>Botones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/circulares/index.html'">Circulares</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/bb8/index.html'">BB8</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/rectangulares-animacion/dist/index.html'">Rectangulares con animación</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/animacion-hover-1/index.html'">Animación N°1 (hover)</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/animacion-hover-2/index.html'">Animación N°2 (hover)</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/neon-1/index.html'">Neón N°1</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/neon-2/index.html'">Neón N°2</div>
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/neon-3/index.html'">Neón N°3</div>
        <div class="caja c1" onclick="window.location.href='../../mini-projects/Botones/neon-prender/index.html'">Neón encender/apagar</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/Botones/star/index.html'">Star</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/Botones/redes-sociales-1/index.html'">Redes sociales N°1</div>    
        <div class="caja c4" onclick="window.location.href='../../mini-projects/Botones/redes-sociales-2/index.html'">Redes sociales N°2</div>

        <div class="pagination">
            <li><a class="active" href="animaciones.html">1</a></li>
            <li><a href="&botones-2.html">2</a></li>
    
            <!-- <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>  -->
            <li><a href="__botones-2.html">»</a></li>
        </div>
    </section>
</body>
</html>