body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #242d56;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Icono inicial*/
.circulo {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  background-image: url(fotos_stock/logo.png);
  background-size: cover;
  z-index: 3;
  transform: scale(0.7) translateZ(0px);
}

/*Simula que se corta en la parte inferior el menu*/
.circulo_fondo {
  position: absolute;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
}

/*Menu raial sin descubrir*/
.circulo_grande {
  position: absolute;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  z-index: 1;
  border-radius: 50%;
  transform: scale(8) translateZ(0px);
  background-color: #242d56;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/*Formación del triángulo*/
.seccion {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% -100%, 100% 100%);
}

/*Triangulo 1*/
.seccion1 {
  transform: rotate(0deg);
  background-image: url(fotos_stock/bandera-argentina.jpg);
  background-size: cover;
}
/*Triangulo 2*/
.seccion2 {
  transform: rotate(120deg);
  background-image: url(fotos_stock/bandera-brasil.jpg);
  background-size: cover;
}
/*Triangulo 3*/
.seccion3 {
  transform: rotate(240deg);
  background-image: url(fotos_stock/bandera-chile.jpg);
  background-size: cover;
}

/*Cuando se presiona sobre el icono*/
.circulo:hover {
  background-image: url(fotos_stock/sadf.jpg);
  background-size: cover;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  transform: scale(4) translateZ(0px);
  opacity: 1;
}

/*Cuando se presiona sobre el icono se arma el menu radial*/
.circulo:hover + .circulo_grande {
  transform: scale(8) translateZ(0px);
  display: block;
  opacity: 0.6;
}

.circulo_grande + .circulo_fondo {
  transform: scale(5) translateZ(0px);
  z-index: 2;
  background-color: #242d56;
}

/*Fin menu radial*/

